.Home {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .game-container {
    max-height: 90%;
    height: 90%;
    background-image: url("./bg2.jpg");
    
  }
  
  .menu-container {
    width: 100vw;
    max-height: 10%;
    height: 10%;
    border-top: 1px solid gray;
    padding-top: 16px;
    overflow-y: scroll;
    box-sizing: border-box; 
  }

  .menu-container .row {
    justify-content: center;
  }