.sudoku-header {
    display: block;
    padding: 24px 16px;
    color: gainsboro;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-shadow:
    -1px -1px 0 #666,  
     1px -1px 0 #666,
     -1px 1px 0 #666,
      1px 1px 0 #666;
}

.sudoku-container {
    margin: 0 auto;
    width: fit-content;
    box-sizing: border-box;
    display: grid;
    background: whitesmoke;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    height: auto;
    border: 3px solid gray;
    box-sizing: border-box;
}

.sudoku-block {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    box-sizing: border-box; 
    z-index: 2;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
    font-size: 1.25rem;
    border: 1px solid lightgray;
    box-sizing: border-box; 
    cursor: pointer;
}

.sudoku-cell:hover {
    background-color: rgb(240, 178, 178);
}

.sudoku-cell.selected {
    background-color: rgb(240, 240, 80)
}

.player-controls {
    margin: 0 auto;
    width: fit-content;
    margin-top: 24px;
    padding: 16px 48px;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 4px;
}

.player-controls>button {
    border-radius: 8px;
    padding: 24px 16px;
    margin-right: 8px;
    margin-left: 8px;
    color: rgba(0, 0, 0, .7);
    background-color: rgb(204, 235, 235);
    font-size: 16px;
    font-weight: bolder;
}

.player-controls>button:hover {
    background-color: rgb(215, 255, 215);
}

.icon-button>svg {
    width: 24px !important; 
    height: auto;
}